* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Helvetica;

}

#box {
    width: 300px;
    height: auto;
    overflow: auto;
    margin-top: 50px;
    padding: 20px 0;
    background: #dedede;

}

#box li {
    float: left;
    width: 290px;
    height: 30px;
    padding-left: 10px;
}

#box span {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}

#box li input, li select {
    float: left;
    width: 140px;
    height: 20px;
    margin-top: 5px;
    padding-left: 5px;
}

.box_button {
    margin-left: 70px;
}


