/****************/
/* Body styling */
/****************/

body {
    background-color: #434343;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-weight: 300;
    height: 500px;
    background-image: url('logo_medium.png');
    background-position: top center;
    background-repeat: no-repeat;
}

/****************/
/* Logo styling */
/****************/

div.logo {
    position: fixed;
    right: 60px;
    top: 52px;
}

/*********************/
/* Login box styling */
/*********************/

.login-box {
    width: 600px;
    height: 350px;

    /*Centering the box.*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /*Gradient in box's background.*/
    background: rgb(139,156,196);
    background: linear-gradient(0deg, rgba(139,156,196,1) 0%, rgba(172,184,213,1) 100%);

    padding: 50px;
    border-radius: 50px; /*Round border.*/

    /*Box's shadow.*/
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

/*************************/
/* "SMART Vahti" styling */
/*************************/

.lb-header {
    position: relative;
    text-align:center;
    color: #ffffff;
}

/***********************************/
/* "Kirjaudu sisään" input styling */
/***********************************/

.login-input input[type="username"] {
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
    position:absolute;
    left:25%;
    top:36%;
}

/* Password box settings */
.login-input input[type="password"] {
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
    position:absolute;
    left:25%;
    top:47%;
}

/************************************/
/* "Kirjaudu sisään" button styling */
/************************************/

@keyframes pulsing-shadow {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

/* "Kirjaudu sisään" button styling */
.lf-button {
    text-align:center;
    width: 50%;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 14px 0;
    position:absolute;
    left:25%;
    top:62%;
}

/* "Kirjaudu sisään" button mouseover */
.lf-button:hover {
    background-color: steelblue;
    animation: pulsing-shadow 1.5s infinite;
}

/* "Kirjaudu sisään" button on click */
.lf-button:active {
    margin: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    background-image: linear-gradient(to top, steelblue, #dddddd);
}