/* Generic page options */
* {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

/* Content locationing */
#siteContent {
    margin-left: 200px;
}

/* Page body styling */
body {
    background: #434343;
    font-family: Helvetica;
    min-width: 1600px;
    background-image: url(logo_pieni.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #C9C9C9;
}
/* Overrides default text selection colour */
::selection {
    background: tomato;
    color: white;
}

/* Notification banner */
#notificationBanner {
    display:none;
    background:green;
    width:100%;
    height:32px;
    color:white;
    text-align:center;
}

/* HELP OVERLAYS */
#helpoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: help;
}
#sensorhelpoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: help;
}
#buildsurvhelpoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: help;
}
#roomhelpoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: help;
}
#databasehelpoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: help;
}
/* Text in helpful overlay(s) */
#helptext{
    position: relative;
    top: 50%;
    left: 90%;
    font-size: 30px;
    color: lightsteelblue;
    cursor: text;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#helptitle{
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 30px;
    color: lightcoral;
    cursor: text;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/* "Rakennuksen valvonta" tab help overlay text */
#bshelptitle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: lightsteelblue;
    cursor: text;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/* Used on attention seeking questionmark in main menu */
#mainmenuhelp {
    margin-left: 44%;
    margin-top: 0;
    font-size: 2.5em;
    color: tomato;
    cursor: help;
}
/* Used on attention seeking questionmark in "Sensoridatan vertailu" tab */
#sensorhelp {
    margin-left: 1420px;
    margin-top: -40px;
    font-size: 2.5em;
    color: tomato;
    cursor: help;
}
/* Used on attention seeking questionmark in "Rakennuksenvalvonta" tab */
#buildsurvhelp {
    margin-left: 450px;
    margin-top: -299px;
    padding-bottom: 40px;
    font-size: 2.5em;
    color: tomato;
    cursor: help;
}
/* Used on attention seeking questionmark in "2D piirtäjä" tab */
#roomhelp {
    margin-left: 570px;
    margin-top: -7.5px;
    font-size: 2.5em;
    color: tomato;
    cursor: help;
}
#databasehelp {
    margin-left: 1250px;
    margin-top: 30px;
    font-size: 2.5em;
    color: tomato;
    cursor: help;
}

/* Header box settings */
#header {
    width: 100%;
    height: 80px;
    background: rgb(139,156,196);
    color: #434343;
    padding-left: 30px;
    padding-top: 40px;
    font-size: xx-large;
}

/* SQL */
/* SQL data table */
.tableLiItem, .tableLiHeader {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    overflow: hidden;
}
.tableLiItem:hover {
    background: rgb(139,156,196);
}
/* SQL data table */
.tableLiItem span, .tableLiHeader span {
    float: left;
    width: 220px;
    padding-left: 10px;
    border-left: 1px solid #555;
    border-right: 1px solid #333;
    font-size: 13px;
    color:#FFFFFF;
    overflow: hidden;
}
/* SQL data table header */
.tableLiHeader {
    background: #222;
}
/* SQL data table checkbox */
.tableLi_CheckBox {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px;
}
/* SQL data table "Next" button */
#tableNext_btn {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    text-align: center;
    background: #C9C9C9;
    cursor: pointer;
    color: #000;
    user-select: none;
}
/* "Next" button mouseover */
#tableNext_btn:hover {
    background: rgb(139,156,196);
    outline: 2px solid #000;
}
/* Filter panel */
#filterPanel {
    float: left;
    width: 100%;
    height: auto;
    min-height: 100px;
    overflow: auto;
    background: #C9C9C9;
    visibility: visible;
}
#filterOptionsLine {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 10px 0;
}
/* Filter button */
.filter_btn {
    float: left;
    width: auto;
    min-width: auto;
    height: 30px;
    line-height: 30px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #111;
}
.filter_btn:hover {
    outline: 2px solid #333;
}
/* Filter panel search panel */
#searchPanel {
    float: left;
    width: auto;
    height: auto;
    overflow: auto;
    line-height: 40px;
    padding: 20px 40px;
    background: #333;
}
/* Add new record */
#newRecordPanel {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    background: #C9C9C9;
    color: #000;
    user-select: none;
}
#newRecordPanel input {
    float: left;
    width: 160px;
    height: 30px;
    margin: 5px;
    padding: 0 10px;
    color: #111;
}
#addNewRecord_btn {
    color: #111;
}
/* End new record */

/* TOP PANEL */
/* Setting for top panel*/
.topPanelClass {
    width: 100%;
    height: 80px;
    color: #FFFFFF;
    font-size: larger;
}
/* Logo's position */
div.logo {
    position: fixed;
    left: 70px;
    top: 22px;
}
/* Header 1 settings */
h1 {
    margin-left: 230;
    margin-top: 13;
    font-size: 3.0em;
}
/* Profile picture's position */
div.profilePic {
    position: relative;
    right: -95%;
    top: -73px;
    cursor: pointer;
}

/* MAIN MENU */
/* Setting for main menu */
#mainMenuPanel {
    background: #DDDDDD;
    width: 200px;
    height: 100%;
    position: fixed;
    color: #111;
}
/* Settings for buttons */
#mainMenuPanel li {
    float: left;
    width: 100%;
    height: 57px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    color: #111;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #C9C9C9;
}
/* Hover settings for main menu */
#mainMenuPanel li:hover {
    background: #C9C9C9;
}
.contentClass {
    display: none;
}

/* "OMA PROFIILI" TAB */
/* "Oma profiili" tab buttons */
.myProfileItem {
    background: #F2F2F2;
    color: #535353;
    margin-top: 16px;
    margin-left: 32px;
    width: 978px;
    vertical-align: middle;
    padding: 16px;
    cursor: pointer;
}
/* "Oma profiili" tab buttons mouseover */
.myProfileItem:hover {
    background: rgb(139,156,196);
    color: #111;
}
/* "Oma profiili" tab buttons onclick */
.myProfileItem:active {
    box-shadow: -3px -3px 3px #111;
}
/* "Oma profiili" dropdown menus */
.ddownMyProfile {
    display: none;
}
#ddownPropGroups, #ddownProps, #ddownAlerts, #ddownAnalyses {
    display: none;
    background-color: rgb(139,156,196);
    color: #FFFFFF;
    margin-top: 12px;
    padding: 16px;
}

/* "HÄLYTYKSET" TAB */
/* Top margin for "Kaikki hälytykset" tab's items */
#allAlerts {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
/* NEW ALERT CREATION */
#customAlert {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
/* "Luo" button styling */
.createAlertClass {
    background: #C9C9C9;
    border: none;
    width: 80px;
    height: 30px;
    margin-left: 15px;
    margin-bottom: 40px;
}
.createAlertClass:hover {
    background: rgb(139,156,196);
    color: #111;
    outline: 2px solid #000;
}
/* "Valitse" button styling */
.chooseAlertClass {
    background: #C9C9C9;
    border: none;
    width: 111px;
    height: 30px;
    margin-left: 15px;
}
.chooseAlertClass:hover {
    background: rgb(139,156,196);
    color: #111;
    outline: 2px solid #000;
}
/* "Minimi-maksimi arvo" styling */
.minValueClass {
    margin-left: 33px;
    margin-top: 25px;
}
.maxValueClass {
    margin-left: 20px;
    margin-top: 15px;
}
/* "Luo hälytys" button styling */
.finalCreateAlertClass {
    background: #C9C9C9;
    border: none;
    width: 136px;
    height: 30px;
    margin-top: 25px;
}
.finalCreateAlertClass:hover {
    background: rgb(139,156,196);
    color: #111;
    outline: 2px solid #000;
}
/* "Peruuta" button styling */
.backToAllAlertsClass {
    background: #C9C9C9;
    border: none;
    width: 136px;
    height: 30px;
    margin-left: 15px;
}
.backToAllAlertsClass:hover {
    background: rgb(139,156,196);
    color: #111;
    outline: 2px solid #000;
}
/* "TÄMÄNHETKISET HÄLYTYKSET" TITLE */
#alertsListTitle {
    float: left;
    margin-left: -820px;
    margin-top: 75px;
    font-size: larger;
}
/* SHOW ALERTS */
/* Alert's field styling */
.alertButton {
    background: #C9C9C9;
    color: #434343;
    margin-top: 2px;
    width: 820px;
    height: 100px;
    line-height: 225%;
}
.alertButton span {
    margin-left: 68px;
}
/* Alerts' name highlight */
.alertButtonNameSp {
    color: #FFFFFF;
    background: tomato;
    font-weight: bold;
    padding: 3px;
}
/* Alerts' description text */
.alertButtonDescSp {
    color: #434343;
}
/* Alerts' date text settings */
.alertButtonDateSp {
    color: #434343;
    font-size: 12px;
}

/* "SENSORIDATAN VERTAILU" TAB */
/* Buttons */
.comb_btn, .quick_range {
    border: none;
    color: #000;
    background: #C9C9C9;
}
/* Button hover */
.comb_btn:hover, .quick_range:hover {
    background: rgb(139,156,196);
    outline: 2px solid #000;
}
/* Sensor listing */
#compSensorList {
    background: #F2F2F2;
    margin-left: 16px;
    margin-top: 342px;
    width: 288px;
    height: 308px;
    position: fixed;
}
/* Buttons div */
#compDateRange {
    display:inline;
}
.quick_range {
    color: #000;
    margin-left: 13px;
    margin-top: 20px;
    border: none;
    padding: 10px;
}
/* Padding between items and graph */
#compDateRange span {
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
/* Font colour in date boxes */
.dateRange {
    color: #000000;
}
/* Graph location settings */
#compSensorDiv {
    float: left;
    margin: 20px;
}
/* Comp */
#compSensorChart {
    background: #111;
    padding: 10px;
}
/* Sensor data search items */
.comb_btn, .dateRange {
    float: left;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 20px;
}

/* "TIETOKANNAN HALLINTA" SETTINGS */
/* "Tietokannan hallinta" tab's menu */
#tableWrapper {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: -54px 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}
#tableHeader {
    float: left;
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background: #161616;
}
#tableHeader li {
    float: left;
    width: auto;

    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    color: #fff;

}
/* Database table header */
.tableLiHeader span {
    user-select: none;
    cursor: pointer;
}
/* Database table header mouseover */
.tableLiHeader span:hover {
    background: rgb(139,156,196);
}
/* "+" and ">" buttons on "Tietokannan hallinta" menu */
.tableNewRecord_btn {
    float: left;
    width: 60px;
    height: 60px;
    font-size: 20px;
    background: #121212;
}
/* mouseover on "+" and ">" buttons */
.tableNewRecord_btn:hover {
    background: rgb(139,156,196);
    color: #111;
}
/* Text on the "Tietokannan hallinta" menu */
.tableRecordTitle, .tableRecordTitle2 {
    float: left;
    width: auto;
    height: 60px;
    padding: 0 20px;
    text-align: left;
}
/* mouseover text and numbers */
.tableRecordTitle:hover, .tableRecordTitle2:hover {
    background: rgb(139,156,196);
    color: #111;
}
/* Found entries number on the "Tietokannan hallinta" menu */
.tableRecordTitle2 {
    background: #333;
    color: #fff;
}
/*search field*/
.columnSearchField {
    width: 230px;
    height: 40px;
    padding: 0 10px;
    margin: 0 1px;
    border: 0;
    outline: 0;
}
/*"Etsi" button" */
#searchColumns {
    width: 100px;
    height: 40px;
    padding: 0 10px;
    margin-left: 20px;
    border: none;
}
/*"Etsi" button" hover */
#searchColumns:hover {
    background: rgb(139,156,196);
    color: #000;
    outline: 2px solid #000;
}
/* "Lisää" button */
#addNewRecord_btn {
    color: #000;
    border: none;
    outline: 1px solid #000;
}
#addNewRecord_btn:hover {
    background: rgb(139,156,196);
    color: #000;
    border: none;
    outline: 2px solid #000;
}
/* "Hylkää muutokset" button */
#discardChanges_btn {
    border: none;
    color: #000;
    outline: 1px solid #000;
}
#discardChanges_btn:hover {
    background: rgb(139,156,196);
    color: #000;
    outline: 2px solid #000;
}
/*"PERUUTA" button */
#cancelSelection {
    margin-top: 5px;
    margin-bottom: 0;
    border: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 30px;
    outline: 1px solid #000;
}
#cancelSelection:hover {
    background: rgb(139,156,196);
    color: #000;
    outline: 2px solid #000;
}
#tableContent {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
}
#tableContentWrapper {
    float: left;
    width: 100%;
    height: auto;
    min-height: 200px;
    overflow: auto;
}

/* "RAKENNUKSEN VALVONTA" TAB */
/* "Valitse kiinteistö" button */
#survBuildingSel {
    background: #C9C9C9;
    color: #000;
    border: none;
    width: 170px;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
}
#survBuildingSel:hover {
    background: rgb(139,156,196);
    outline: 2px solid #000;
}
/* "Muokkaa pohjapiirustusta" button */
#survEditBlueprint{
    background: #C9C9C9;
    color: #000;
    border: none;
    width: 170px;
    height: 40px;
    margin-left: 32px;
}
#survEditBlueprint:hover {
    background: rgb(139,156,196);
    outline: 2px solid #000;
}
.survBdata {
    position: absolute;
    text-align: center;
    background: #222;
    padding: 5px;
}

/* "RAPORTIT" TAB */
.reportButtonNameSp {
    margin-left: 30px;
    font-size: x-large;
    color: #FFFFFF;
}
.reportButtonDescSp {
    margin-left: 30px;
    font-size: larger;
}
.reportButtonDateSp {
    margin-left: 30px;
}
#survBlueprint {
    margin-top: 256px;
}

/* "2D PIIRTÄJÄ" */
.roomBox {
    float: left;
    position: fixed;
    background: #555;
    border: 1px dashed #111;
}
/* resize handle */
#RoomResize {
    float: left;
    position: absolute;
    background: #4CFF00;
    display: block;
    width: 8px;
    height: 8px;
    z-index: 1
}
/* room name label */
.roomNameLabel {
    float: left;
    height: 30px;
    width: 100px;
    line-height: 30px;
    padding-left: 5px;
    background: #111;
}
/* panel under buttons */
#Actionpanel {
    float: left;
    width: 600px;
    height: 40px;
    padding: 10px;
    margin-left: 200px;
    background: #111;
}
#roomstext {
    font-size: larger;
    text-align: center;
    background: #000;
}
/*  */
#Actionpanel span {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}
/* textfields */
.actionpanel-txt-field {
    float: left;
    padding: 5px;
    width: 60px;
    text-align: center;
}
.actionpanel-txt-field:hover {
    color: #000;
    outline: 2px solid rgb(139,156,196);
}
/* buttons begin*/
#add_room_btn {
    float: left;
    margin-top: 2px;
    padding: 5px;
    margin-left: 30px;
    border: none;
}
#add_room_btn:hover {
    background: rgb(139,156,196);
    color: #000;
    outline: 2px solid #000;
}
#add_sensor_btn {
    float: left;
    margin-top: 2px;
    padding: 5px;
    margin-left: 5px;
    border: none;
}
#add_sensor_btn:hover {
    background: rgb(139,156,196);
    color: #000;
    outline: 2px solid #000;
}
#gen_sql_btn {
    float: left;
    margin-top: 2px;
    padding: 5px;
    margin-left: 5px;
    border: none;
}
#gen_sql_btn:hover {
    background: rgb(139,156,196);
    color: #000;
    outline: 2px solid #000;
}
/* buttons end */

#roomPanel {
    float: left;
    position: fixed;
    width: 200px;
    height: 100%;
    background: #333;
}
/* rooms listing panel */
#roomPanel .roomItem {
    float: left;
    width: 180px;
    padding: 10px;
    height: 100px;
    background: #444;
    margin-bottom: 10px;
}
#roomPanel .roomItem .roomInfoPanel {
    float: left;
    width: 180px;
    height: 60px;
}
#roomPanel .roomItem .roomInfoPanel input {
    margin-bottom: 4px;
    padding: 3px;
}
/* "Valitse" - button*/
#roomName {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: #C9C9C9;
    color: #000;
    text-align: center;
    cursor: pointer;
}
#roomName:hover {
    background: rgb(139,156,196);
    outline: 2px solid #000;
}

/* Room removal button*/
#roomRemove {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: tomato;
    color: #000;
    text-align: center;
    cursor: pointer;
    margin-top: 16px;
}
#roomRemove:hover {
    background: rgb(139,156,196);
    outline: 2px solid #000;
}