<link href="index.css" rel="stylesheet">
<meta charset = "utf-8">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> Search bar's button style sheet not in use-->

<body>
    <div id="notificationBanner" ></div>
    <!--General help overlay that explains tabs-->
    <div id="helpoverlay" title="Palaa klikkaamalla." onclick="helpOverlayOff()">
        <div id="helptitle">Oma profiili:<br><br>Hälytykset:<br><br>Sensoridatan vertailu:<br><br>
                            Tallennetut analyysit:<br><br>Tietokannan hallinta:<br><br>
                            Rakennuksen valvonta:<br><br>2D-piirtäjä:<br><br>Raportit:</div>
        <div id="helptext"> Voit tarkastella käyttäjään liittyviä tietoja.<br><br>Listataan kaikki hälytykset, jotka ovat olennaisia.<br><br>
                            Voit vertailla sensorien tuottamaa dataa.<br><br>Sisältää tallentamasi sensorivertailut.<br><br>
                            Tarkkaile ja muokkaa tietokantaa sekä sen sisältämää dataa.<br><br>Tarkkaile ja hallinnoi rakennuksia.<br><br>
                            Rakennus pohjapiirrustukset ja sensoreitten asettelu niihin.<br><br>Sisältää automaattisesti luodut raportit viitearvojen rikkeistä.</div>           
    </div>
    <!--"Sensoridatan vertailu"- tab help overlay-->
    <div id="sensorhelpoverlay" title="Palaa klikkaamalla." onclick="helpSensorOverlayOff()">
        <div id="helptitle">Hae sensoridata:<br><br>
                            Palaa sensoridatatauluun:<br><br>
                            Alkaen:<br><br>
                            Päättyen:<br><br>
                            Hae:<br><br>
                            Pikahaut:
        </div>
        <div id="helptext"> Hakee datan kaikista sensoreista.<br><br>
                            Palauttaa näkymän tietokannan hallintaan, josta voit valita sensoreita.<br><br>
                            Valitse kalenterista tai asteittain datan alku pvm.<br><br>
                            Valitse kalenterista tai asteittain datan loppu pvm.<br><br>
                            Hakee annetuilla ehdoilla sensoridatan ja piirtää graafin.<br><br>
                            Hakee arvot vko/kk/vuosi taaksepäin.
        </div>
    
    </div>
    <!--"Rakennuksen valvonta" - tab help overlay-->
    <div id="buildsurvhelpoverlay" title="Palaa klikkaamalla." onclick="helpBsOverlayOff()">
        <div id="bshelptitle">  "Valitse kiinteistö" -painikketta painamalla näkymä siirtyy "Tietokannan hallinta" - välilehdelle.<br><br>
                                "Tietokannan hallinta" -välilehdelle avautuu näkymä kaikista kiinteistöistä.<br><br>
                                Valitse kiinteistö laittamalla ruksi taulukon vasemassa reunassa olevaan valintaruutuun haluamasi kiinteistön kohdalle.<br><br>
                                Paina taulukon yläpuolelta olevaa "Siirry" -painiketta palataksesi tietojen kanssa.
        </div>
    </div>
    <!--"2D piirtäjä" - tab help overlay-->
    <div id="roomhelpoverlay" title="Palaa klikkaamalla" onclick="helpDDOverlayOff()">
        <div id="helptitle">Huone/Sensori:<br><br>
                            Leveys ja pituus:<br><br>
                            Lisää huone:<br><br>
                            Lisää sensori:<br><br>
                            Tallenna:
        </div>
        <div id="helptext"> Valitse huone/sensori tietokannasta. Valitun huoneen koko.<br><br>
                            Uuden huoneen koko. Kokoa voi myös säätää myöhemmin.<br><br>
                            Lisää uusi huone määrittelemillä arvoilla.<br><br>
                            Lisää uusi sensori pohjapiirrustukseen.<br><br>
                            Tallentaa tehdyn pohjapiirrustuksen tietokantaan.
        </div>
    </div>
    <!--"tietokannan hallita" -tab help overlay-->
    <div id="databasehelpoverlay" title="Palaa klikkaamalla." onclick="helpDbOverlayOff()">
        <div id="bshelptitle">  Kiinteistöryhmät, Kiinteistöt, Huoneet sekä Sensorit teksteistä painamalla tulee alla olevaan taulukkoon kaikki tiedot teksteihin liittyen.<br><br>
                                Näkyvää tietoa voi rajata taulukon vasemmassa reunassa olevilla valintaruuduilla ja "Siirry" painikkeella tai kirjoittamalla hakukenttiin ja painamalla "Etsi" painiketta.<br><br>
                                Tietokantaan voi lisätä ja siellä olevaa tietoa voi muokata "Siirry" painikkeen alapuolella olevilla kentillä.<br><br>
                                Näkyviä sarakkeita voidaan rajoittaa sinisillä painikkeilla.
        </div>
    </div>
    <!--Top panel-->
    <div class="topPanelClass" id="topPanel">
        <!--Upper left corner logo-->
        <div class="logo">
            <a href="./"><img src="logoSV.png" alt="Logo"></a>
        </div>
        
        <h1>SMART Vahti</h1>
    
        <!--Clickable profile picture-->
        <div class="profilePic">
            <img src="profile_pic.png" onclick="activateTab('contMyProfile')">
        </div>
    
        <!--Search bar - for now searchbar disabled and has no functionality
        <div class="searchBar">
            <input type="text" placeholder="Haku" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>-->
    </div>
    
    <!--Menu panel-->
    <div id="mainMenuPanel">
        <ul>
                <li class="mmItem" id="myProfile_btn" onclick="activateTab('contMyProfile')">Oma profiili</li>
               <!--<li class="mmItem" id="alerts_btn" onclick="activateTab('contAlerts')">Hälytykset</li> - not used-->
                <li class="mmItem" id="allAlerts_btn" onclick="activateTab('contAllAlerts')">Hälytykset</li>
                <li class="mmItem" id="comparison_btn" onclick="activateTab('contComparison')">Sensoridatan vertailu</li>
                <!--<li class="mmItem" id="savedAnalyses_btn" onclick="activateTab('contSavedAnalyses')">Tallennetut analyysit</li>-->
                <li class="mmItem" id="dbManagement_btn" onclick="activateTab('contDbManagement')">Tietokannan hallinta</li>
                <li class="mmItem" id="buildingSurveillance_btn" onclick="activateTab('contBuildingSurv')">Rakennuksen valvonta</li>
                <li class="mmItem" id="2derSoftware_btn" onclick="activateTab('cont2derSoftware')">2D-piirtäjä</li>
                <li class="mmItem" id="Reports_btn" onclick="activateTab('contReports')">Raportit</li>
                <p id="mainmenuhelp" title="Klikkaa nähdäksesi opasteen." onclick="helpOverlayOn()">?</p>
        </ul>
    
    </div>

    <div id="siteContent">
        <!-- My profile- tab-->
        <div class="contentClass" id="contMyProfile">
            <div id="header">Oma profiili</div>
            <ul>
                <li class="myProfileItem" id="piPropGroups">
                    Valvottavat kiinteistöryhmät

                    <ul class="ddownMyProfile" id="ddownPropGroups">
                    </ul>
                </li>
                <li class="myProfileItem" id="piProps">
                    Valvottavat kiinteistöt

                    <ul class="ddownMyProfile" id="ddownProps">
                    </ul>
                </li>
                <li class="myProfileItem" id="piAlerts">
                    Hälytykset

                    <ul class="ddownMyProfile" id="ddownAlerts">
                    </ul>
                </li>
                <!--<li class="myProfileItem" id="piAnalyses">
                    Tallennetut analyysit

                    <ul class="ddownMyProfile" id="ddownAnalyses">
                    </ul>
                </li>
                <li class="myProfileItem" id="2derSoftware_btn" onclick="activateTab('cont2derSoftware')">2D piirtäjä</li>-->
            </ul>
        </div>

        <!-- Alerts- tab CURRENTLY NOT USED!
        <div class="contentClass" id="contAlerts">
            <div id="header">Hälytykset</div>
            ALERTS TYHJÄ!!!
        </div> -->
    
        <!-- Alerts- tab-->
        <div class="contentClass" id="contAllAlerts">
            <div id="header">Hälytykset</div>
            
            <!-- Alerts list -->
            <div id="allAlerts">
                Uuden hälytyksen luominen:
                <button class="createAlertClass" id="createCustomAlert">Luo</button>
            </div>

            <!-- Alert creation -->
            <div id="customAlert" style="display: none">
                Sensorin valitseminen:<span id="allAlertssensorName"></span>
                <button class="chooseAlertClass" id="allAlertsSensorSel">Valitse</button><br>
                Minimi arvo:<input class="minValueClass" id="allAlertsSensorMin" type="text" value=""></input><br>
                Maksimi arvo:<input class="maxValueClass" id="allAlertsSensorMax" type="text" value=""></input><br>
                <button class="finalCreateAlertClass" id="allAlertsCreate">Luo hälytys</button>
                <button class="backToAllAlertsClass" id="backToAllAlerts">Peruuta</button>
            </div>
            <!--Title for alerts list-->
            <div id="alertsListTitle">
                <b>Tämänhetkiset hälytykset:</b>
            </div>
        </div>

        <!-- Sensordata comparison- tab-->
        <div class="contentClass" id="contComparison">
            <div id="header">Sensoridatan vertailu</div>

            <button id="compGetSensors" class="comb_btn" type="button" >Hae sensoridata</button>
            <button id="compReturnToTable" class="comb_btn" type="button" >Palaa sensoridatatauluun</button>
            <button id="drangLastWeek" class="quick_range" >Viime viikko</button>
            <button id="drangLastMonth" class="quick_range" >Viime kuukausi</button>
            <button id="drangLastYear" class="quick_range" >Viime vuosi</button>
            
            <div id="compDateRange">
                <span>Alkaen: </span><input type="date" class="dateRange" id="dateRangeStart"></input>
                <span>Päättyen: </span><input type="date" class="dateRange" id="dateRangeEnd"></input>
                <button id="applyDateRange" class="comb_btn" >Hae</button>
                <p id="sensorhelp" title="Sensoridatan haku opaste." onclick="helpSensorOverlayOn()">?</p>
            </div>

            <!--<div id="compSensorList">
                
            </div>-->

            <div id="compSensorDiv">
                <canvas id="compSensorChart" width="1200" height="800"></canvas>
            </div>


        </div>
    
        <!-- Saved analyses- tab CURRENTLY NOT USED
        <div class="contentClass" id="contSavedAnalyses">
            <div id="header">Tallennetut analyysit</div>
            SAVED ANALYSES TYHJÄ!!!
        </div>-->

        <!-- Database management- tab-->
        <div class="contentClass" id="contDbManagement">
            <div id="header">Tietokannan hallinta</div>
            <p id="databasehelp" title="Klikkaa nähdäksesi ohjeen." onclick="helpDbOverlayOn()">?</p>
            <div id="tableWrapper">
                
            </div>
        </div>

        <!-- Building surveillance- tab-->
        <div class="contentClass" id="contBuildingSurv">
            <div id="header">Rakennuksen valvonta</div>

            <button id="survBuildingSel">Valitse kiinteistö</button>
            <input id="survEditBlueprint" type="button" value="Muokkaa pohjapiirustusta"></input>
            <div id="survBuildingData"></div>
            <div id="survBlueprint">
            </div>
            <p id="buildsurvhelp" title="Klikkaa nähdäksesi ohjeen." onclick="helpBsOverlayOn()">?</p>
            
        </div>

        <!-- 2D piirtäjä -tab -->
        <div class="contentClass" id="cont2derSoftware">
            <div id="header">2D-piirtäjä</div>
            <div id="Actionpanel">
                    <span>Leveys: </span><input id="room_width_txt" title="Syötä huoneen leveys." class="actionpanel-txt-field"  value="150">
                    <span>Pituus: </span><input id="room_height_txt" title="Syötä huoneen korkeus." class="actionpanel-txt-field" value="350">
                    <input id="add_room_btn" type="button" value="Lisää huone">
                    <input id="add_sensor_btn" type="button" value="Lisää sensori">
                    <input id="gen_sql_btn" type="button" value="Tallenna">
                    <p id="roomhelp" onclick="helpDDOverlayOn()">?</p>
                </div>
            
            
                <ul id="roomPanel">
                    <p id="roomstext">Huone/Sensori:</p>
                </ul>
        </div>
        <!-- Raportit -tab-->
        <div class="contentClass" id="contReports">
            <div id="header">Raportit</div>
            <div id="Reports">
                
            </div>

    </div>

  
</body>


<script src="tableLib.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

<script src="index.js"></script>
<script id="BlueprintSoftware" src="BluePrint.js"></script>